<!-- login signout -->
<div :class="{modal: modal, 'is-active': isActive_Sign_in}">
    <div class="modal-background"></div>
    <form class="box  modal-content">
        <div class="field">
            <label class="label has-text-centered">Sign in</label>
        </div>
        <div class="field">
            <h1 class="label">Email</h1>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com" />
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********" />
            </div>
        </div>

        <a class="button is-primary" @click="login()">Sign in</a>
        <button class="button is-danger" @click="Close()">Close</button>
    </form>

</div>
<div :class="{modal: modal, 'is-active': isActive_Sign_up}">
    <div class="modal-background"></div>

    <form class="box  modal-content">
        <div class="field">
            <label class="label has-text-centered">Sign up</label>
        </div>

        <div class="field">
            <h1 class="label">First Name</h1>
            <div class="control">
                <input class="input" type="text" placeholder="Puttipong" v-model="sign_fname" />
            </div>
        </div>
        <div class="field">
            <h1 class="label">Last Name</h1>
            <div class="control">
                <input class="input" type="text" placeholder="Panich" v-model="sign_lname" />
            </div>
        </div>
        <div class="field">
            <label class="label">Phone number</label>
            <div class="control">
                <input class="input" type="password" placeholder="083-3343-xxx" v-model="sign_phone" />
            </div>
        </div>
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input class="input" type="date" placeholder="24/07/2002" v-model="sign_dob" />
            </div>
        </div>
        <div class="field">
            <h1 class="label">Email</h1>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com" v-model="sign_email" />
            </div>
        </div>

        <div class="field">
            <label class="label">User Name</label>
            <div class="control">
                <input class="input" type="password" placeholder="Folk" v-model="sign_username" />
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control"> <input class="input" type="password" placeholder="********" v-model="sign_pass" />
            </div>
        </div>

        <button class="button is-primary">
            <a href="profile.html">Sign up</a>
        </button>
        <button class="button is-danger" @click="Close()">Close</button>
    </form>
</div>