<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- nav -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation"
        style="position:fixed; top: 0; width: 100%;">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <i class="fas fa-home "></i>
                &nbsp Home
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="seach.html">
                    ค้นหาห้องพัก
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        ห้องพักของเรา
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="index.html#sd">
                            Standard Room
                        </a>
                        <a class="navbar-item" href="index.html#dl">
                            Deluxe Room
                        </a>
                        <a class="navbar-item" href="index.html#st">
                            Suite Room
                        </a>
                        <a class="navbar-item" href="index.html#su">
                            Superior Room
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons asd">
                        <a class="button is-dark" href="profile.html">
                            <strong>My Profile</strong>
                        </a>
                        <a class="button is-danger" >
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- หน้ารายละเอียด -->
    <div class="columns" style="margin-top: 200px" id="booking">
        <div class="column"></div>
        <div class="box column  is-three-fifths" style="margin-top: 20px; padding: 50px; font-size: 15px;">
            <div class="columns">
                <div class="column is-three">
                    <label for="">Check in</label>
                    <div>
                        <input type="date" class="input is-small" style="width: 230px; margin-top: 10px;"
                            v-model="checkIn">
                    </div>
                </div>
                <div class="column">
                    <label for="">Check out</label>
                    <div>
                        <input type="date" class="input is-small" style="width: 230px; margin-top: 10px"
                            v-model="checkOut">
                    </div>
                </div>

                <div class="column">
                    <label for="">People</label>
                    <div>
                        <div class="select is-small" style="margin-top: 10px;">
                            <select style="width: 230px;  " v-model="people">
                                <option value="1">1 person</option>
                                <option value="2">2 people</option>
                                <option value="3">3 people</option>
                                <option value="4">4 people</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="columns">
                <div class="column is-three">
                    <label for="">Rooms</label>
                    <div>
                        <div class="select is-small" style="margin-top: 10px;">
                            <select style="width: 230px;" v-model="room">
                                <option value="1">1 room</option>
                                <option value="2">2 rooms</option>
                                <option value="3">3 rooms</option>
                                <option value="4">4 rooms</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label for="">Type room</label>
                    <div>
                        <div class="select is-small" style="margin-top: 10px;">
                            <select style="width: 230px;  " v-model="checkType">
                                <option v-for="item in allRoom">{{ item.type }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label for="">Price</label>
                    <div v-model="price" class="mt-3">
                        {{ price + " x " + room + " = " + price*room}}
                    </div>
                </div>

            </div>
            <div class="columns">
                <div class="column is-three">
                    <label for="">First Name</label>
                    <div>
                        <input type="text" class="input is-small" style="margin-top: 10px; width:230px;"
                            placeholder="Puttonpong" v-model="fname">
                    </div>
                </div>
                <div class="column">
                    <label for="">Last Name</label>
                    <div>
                        <input type="text" class="input is-small" style="margin-top: 10px; width:230px;"
                            placeholder="Panich" v-model="lname">
                    </div>
                </div>

                <div class="column"></div>

            </div>
            <div class="columns">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <div class="column">
                </div>
                <div class="column">
                    <a class="button has-background-danger is-normal is-rounded" @click="confirm_booking()">Next</a>
                </div>
            </div>
        </div>

        <div class="column"></div>

    </div>
    <script src="./data/data.js"></script>
    <script>
        var seach = new Vue({
            el: '#booking',
            data: {
                allRoom: rooms,
                checkType: '',
                price: 0,
                fname: '',
                lname: '',
                checkIn: '',
                checkOut: '',
                people: '',
                num: '',
                room: 0,
                customer: [],
                // dataBooking : dataBooking,
                money: []
            },
            methods: {
                confirm_booking() {
                   
                    this.customer.push({
                        "fname": this.fname,
                        "lname": this.lname,
                        "checkIn": this.checkIn,
                        "checkOut": this.checkOut,
                        "price": this.price,
                        "people": this.people,
                        "countRoom": this.room,
                        "type": this.checkType,
                        "status": 'wait'
                    })

                    // console.log(this.customer)

                     var dataBooking = JSON.stringify(this.customer)
                    localStorage.setItem("book", dataBooking);

                    console.log(dataBooking)

                    
                    window.location.href = "invoice.html";
                    // window.location.href = "profile.html";

                },
            },
            watch: {
                checkType(newVal) {
                    if (newVal == "Standard Room") {
                        this.price = this.allRoom[0].price
                    } else if (newVal == "Deluxe Room") {
                        this.price = this.allRoom[1].price
                    } else if (newVal == "Suite Room") {
                        this.price = this.allRoom[2].price
                    } else if (newVal == "Superior Room") {
                        this.price = this.allRoom[3].price
                    }
                   
                }
                
            },

            created() {
                if(JSON.parse(localStorage.getItem('book')) != null)
                this.customer = JSON.parse(localStorage.getItem('book'))
            }
           
            
        })

        


    </script>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>