<%- include('./elements/header') -%>


<body>
    <div id="home">
        <!-- nav bar -->
        <%- include('./elements/navbar') -%>

        <br>
        <script src="script.js"></script>
        <!-- content -->
        <div class="container mt-6">
            <!-- left -->
            <div class="columns">
                <div class="column is-6">
                    <img src="" alt="image room" class="has-background-info-light">
                </div>
                <div class="column is-5">
                    <p class="title is-3">
                        Standard Room
                    </p>
                    <div>
                        <i class="fa fa-star" style="font-size:40px ;color:rgb(244, 247, 76)"></i>
                        <i class="fa fa-star" style="font-size:40px ;color:rgb(244, 247, 76)"></i>
                        <i class="fa fa-star" style="font-size:40px ;color:rgb(244, 247, 76)"></i>
                        <i class="fa fa-star" style="font-size:40px ;color:rgb(188, 188, 165)"></i>
                        <i class="fa fa-star" style="font-size:40px ;color:rgb(188, 188, 165)"></i>
                    </div>
                    <div class="tile is-child">
                        <p class="title has-text-danger mt-6">9999
                            <a href="booking.html">
                                <button class="button has-background-success">จองตอนนี้</button>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="column is-1">
                </div>

            </div>
            <hr />
            <div>
                รายละเอียดเพิ่มเติม

            </div>
            <hr />
            <div>
                บริการจากทางโรงแรม

            </div>
        </div>
</body>